<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="form_main">
        <h4 class="heading"><strong>Quick </strong> Contact <span></span></h4>
        <div class="form">
           <form (ngSubmit)="onSubmit(myFrm)" #myFrm="ngForm" > 
            <input 
              type="text" 
              placeholder="User Name" 
              class="txt"
              name="usNm"
              required=""
              [(ngModel)]="frmData.usNm">

            <input 
              type="text" 
              placeholder="Email" 
              class="txt"
              name="eml"
              required=""
              [(ngModel)]="frmData.eml">

            <input 
              type="text" 
              placeholder="Password" 
              class="txt"
              name="pass"
              required=""
              [(ngModel)]="frmData.pass">

            <input 
              type="Submit" 
              value="Submit" 
              name="submit" 
              class="btn btn-info"
              [disabled]="!myFrm.valid"
              >
          </form>
        </div>
      </div>
    </div> 
  </div>