<div class="row">
  <div class="col-md-12">
   Todays Date is {{dt | date:" dd-MMM-yyyy"}}<br>
   <h3><span class="badge badge-primary">{{ money | currency:"INR" }}</span></h3>
   Slice is {{mystr |slice:1:3}}<br>
   Through new pipe created {{mystr | asciiPipe:2|uppercase}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <input type="text" placeholder="New Mobile" #newMob>
    <input type="button" value="Add Mobile" class="btn btn-primary"(click)="AddNewMob(newMob.value)"><br>
    <input type="text" [(ngModel)]="myFilt"placeholder="Filter">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul >
      <li *ngFor="let mob of Mobiles |filter:myFilt">{{mob}}</li>
    </ul>
  </div>
</div>